<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow, noarchive, nosnippet">
  <title>注文確定</title>
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="stylesheet" href="/css/base.css">
</head>

<body>
  <header>
    <h2>ご注文ありがとうございました。</h2>
  </header>
  <p>
    <%= text %>
  </p>
  <br>
  <footer>
    <p><small>&copy; 2023Satsuma Ebisudo All Rights Reserved. </small></p>
  </footer>
</body>

</html>