<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./partials/head'); %>
    <meta http-equiv="refresh" content="1;URL=<%= url %>" />
  </head>

  <body>
    <header>
      <h2><%= title %></h2>
    </header>
    <%- include('./partials/footer'); %>
  </body>
</html>
