<div class="appeal-wrapper">
  <div class="appeal-image order_link">
    </img src="img/button01.png" alt="getitstarted">
  </div>
  <div class="appeal-headline">
    <h2 id="4th">始めるのは<br>カンタンです</h2>
    <div class="border1">
      <img src="/img/back_border_01.png" alt="goldborder">
    </div>
    <article class="sub-text">
      <h3>売り値は自由自在！</h3>
      <p>
        あなたのお店で提供するのは、あなたのお店でしか飲めないお酒。もう、他の店より安くしないと…なんて心配はいりません。だってお客様が本当に望んでいるのは「あなたのお店でしか味わえない楽しさ」ですから。あなたのお店だけのサービスと価格。それが、オリジナルラベルの魅力です。
      </p>
    </article>
    <div class="sub-text">
      <h3>味は保証つき！</h3>
      <div class="appeal-bottle">
        <img src="/img/back02.png" alt="baron bottle">
      </div>
      <p>
        今回、オススメする銘柄は、写真の「ヴァン・ムスー・ブリュット
        ソレイユ」。柑橘系のような香りと果実味。キリッとした酸味ですっきりとした味わいは、フランス老舗ワイナリーならでは。きっとたくさんのお客様に喜んでいただけます。<br>

        ●銘柄：ヴァン・ムスー・ブリュット&nbsp; ソレイユ<br>
        ●原産国：フランス&nbsp;/&nbsp;●容量：750ml<br>
        ●品種：ユニブラン<br>
      </p>
      <div class="text_border">---------------------</div>
      <div class="exp">初回だけの体験価格！</div>
      <div class="product">
        <div class="cap">●体験6本セット…
          <span class="red">¥6,000</span>
        </div>
        <div class="opcap">【特製シャンパングラス3個つき】</div>
        <div class="baseprice">（飲食店様卸価格 13,200円）</div>
        <p>
          たくさんのお店にオリジナルラベルの素晴らしさを体験して欲しい。そんな思いを込めて今回だけの特別なセットを用意しました。在庫がなくなる前がチャンスです！
        </p>
        <div class="option">
          ※表示は全て税込・送料込価格です
        </div>
        </p>
      </div>
    </div>
    <article class="sub-text">
      <h3>デザインは<br>選ぶだけ。</h3>
      <p>
        デザインなんてわからない、めんどくさそう…。そんな心配はいりません。泡ラヴァーズから売れるデザインもプレゼントします！色・背景・文字…、用意されたデザインを選んだら、好きな文字を入れる。それだけで、あなたのお店だけのラベルの出来あがりです。<br>
        えっ？「こだわりのラベルを作りたい」？…わかりました！今回初めてのお店だけ特別に「完全オリジナルラベル制作プラン」もご用意しましょう！<br>
        あなたのやることは画面下の『今すぐ体験する』のボタンを押すだけ。必要な時間は最短で3分ほど。さぁ、繁盛するお店への第一歩を踏み出しましょう！
      </p>
    </article>
  </div>
  <div class="appeal-next order_link">
    <img src="/img/icon01.png" alt="getitstarted">
  </div>
  <div class="exp-text order_link">
    <h3 class="green">→今すぐ体験する</h3>
  </div>
</div>