<footer>
  <div class="footer-img">
    <img class="footerimg1" src="/img/icon03.png" alt="getitstarted" />
  </div>
  <div class="footer-img">
    <a href="https://www.instagram.com/satsuma_ebisudo/" target="_blank"><img class="footerimg2" src="/img/icon02.png"
        alt="instagram" /></a>
  </div>
  <div class="footer-column">
    <ul>
      <li class="company_link">
        <a href="/company">会社概要</a>
      </li>
      <li class="commercial_link">
        <a href="/commercial">特定商取引法に基づく表記</a>
      </li>
      <li class="privacy_link">
        <a href="/privacy">プライバシーポリシー</a>
      </li>
    </ul>
    <div class="footer-logo">
      <p class="madein">Produced by</p>
      <img src="/img/footer01.png" alt="ebisudo logo" />
      <p class="copyright">© 2023 SATSUMAEBISUDO All Rights Reserved.</p>
      <img class="twenty-year" src="/img/footer02.png" alt="under 20years-old prohibit" />
    </div>
  </div>
</footer>