<header>
  <div class="header-wrapper">
    <div class="header-flex">
      <div class="header-logo">
        <a href="/"><img src="/img/header_logo.png" alt="main_logo" /></a>
      </div>
      <div class="header-icon instagram">
        <a href="https://www.instagram.com/satsuma_ebisudo/" target="_blank"><img src="/img/header_icon01.png"
            alt="instagram" /></a>
      </div>
      <div class="header-icon hamburger">
        <img src="/img/header_icon03.png" alt="hamburger" />
      </div>
    </div>
    <div class="header-catch">
      <img class="forpc" src="/img/header_text_pc.png" alt="main_catch" />
      <img class="forsp" src="/img/header_text_sp.png" alt="main_catch" />
    </div>
  </div>
</header>