<head>
  <meta charset="UTF-8">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MQMPSBXH');</script>
  <!-- End Google Tag Manager -->
  <title>泡ラヴァーズ</title>
  <meta content="飲食店が楽しくなる特別サイト。急にお客様が増えた、売上が増えた。そんなお店の秘密を聞きたくありませんか？繁盛するお店は何をやっているのか？泡ラヴァーズでは日本の飲食店の成功例をお知らせしています。"
    name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="keywords" content="オリシャン,シャンパン,酒">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/img/android-touch-icon.png" sizes="192x192">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/jquery.min.js"></script>
  <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
  <script src="/js/gtag.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/form.js"></script>
  <script src="/js/validationmessage.js"></script>
</head>