<section class="menuarea display-none">
  <div class="menu-base">
    <ul class="menu-text">
      <li><span class="batsu hamburger">×</span></li>
      <li class="insidelink"><a href="/">→泡ヴァーズTOP</a></li>
      <li class="company_link"><a href="/company">→会社概要</a></li>
      <li class="commercial_link"><a href="/commercial">→特定商取引法の表示</a></li>
      <li class="privacy_link"><a href="/privacy">→プライバシーポリシー</a></li>
      <li><a href="https://www.instagram.com/satsuma_ebisudo/" target="_blank">→公式インスタグラム</a></li>
    </ul>
  </div>
</section>